
.rowPadding{
    padding-left: 18rem;
   }


/* tbody, td, tfoot, th, thead, tr {
    border: none;
    border-style: solid;
    border-width: 1px;

} */

/* th{
    min-width: 10rem;
 }

 td{
    min-width: 10rem;
 }
  */