<!-- <h1 class="text-primary">Testtt </h1>
<p class="text-danger">.text-danger</p> -->

<!-- <div class="card flex flex-column align-items-center justify-content-center">
    <div class="mb-3">
        <p-button 
            icon="pi pi-plus" 
            label="Expand all" 
            (click)="expandAll()" 
            class="mr-2" />
        <p-button
            icon="pi pi-minus" 
            label="Collapse all" 
            (click)="collapseAll()" />
    </div>
    <p-tree [value]="files" class="w-full md:w-30rem" />
</div> -->

<!-- <div class="card"> -->
    <p-toast />
    <!-- <div class="card flex flex-column align-items-center justify-content-center">
        <div class="mb-3">
            <p-button 
                icon="pi pi-plus" 
                label="Expand all" 
                (click)="expandAll()" 
                class="mr-2" />
            <p-button
                icon="pi pi-minus" 
                label="Collapse all" 
                (click)="collapseAll()" />
        </div> -->
    <p-treeTable 
    [value]="files" 
    [columns]="cols"
    [resizableColumns]="true" 
    columnResizeMode="expand"

     selectionMode="checkbox" 
     [selection]="selectedFiles"

    dataKey="key"  

     [scrollable]="true" 
    styleClass="p-treetable-gridlines"
    [style]="{ width: '90vw' }" 
    [tableStyle]="{'min-width':'10rem'}"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                <span class="ml-2">Toggle All</span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" ttResizableColumn [ttSortableColumn]="col.field">
                    {{ col.header }}
                    <p-treeTableSortIcon [field]="col.field" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                    <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"></p-treeTableCheckbox>
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
            <tr>
                <td *ngFor="let col of columns">
                    <input type="text" class="p-inputtext p-component" />
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
    <!-- </div> -->
<!-- </div> -->
